<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thanhnd101.enrich.core.repository.ServiceRepository">
  <select id="count" resultType="int">
    SELECT COUNT(id) FROM `es-java`.`service`
    <where>
      <if test="id != null">id=#{id}</if>
      <if test="name != null">AND name like #{name}</if>
      <if test="status != null">AND status = #{status}</if>
    </where>
  </select>

  <select id="findAll" resultType="com.thanhnd101.enrich.core.entity.Service">
    SELECT * FROM `es-java`.`service`
    <where>
      <if test="id != null">id=#{id}</if>
      <if test="name != null">AND name like #{name}</if>
      <if test="status != null">AND status = #{status}</if>
    </where>
  </select>

  <insert
    flushCache="true"
    id="create"
    parameterType="com.thanhnd101.enrich.core.entity.Service"
    timeout="20"
    keyProperty="id"
    useGeneratedKeys="true">
    <![CDATA[
    INSERT INTO `es-java`.`service` (name, status, created_at, created_by, updated_at, updated_by) VALUES (
      #{name}
      ,#{status}
      ,#{createdAt}
      ,#{createdBy}
      ,#{updatedAt}
      ,#{updatedBy}
    )
    ]]>
  </insert>

  <update id="update" parameterType="com.thanhnd101.enrich.core.entity.Service">
    UPDATE `es-java`.`service`
    <set>
      <if test="name != null">name like #{name}</if>
      <if test="status != null">AND status = #{status}</if>
      <if test="updatedAt != null">updated_at=#{updatedAt},</if>
      <if test="updatedBy != null">updated_by=#{updatedBy},</if>
    </set>
    WHERE id = #{id}
  </update>

  <delete id="delete" parameterType="int">
    DELETE FROM `es-java`.`service`
    <where>
      <foreach item="item" index="index" collection="ids"
        open="id in (" separator="," close=")" nullable="true">
        #{item}
      </foreach>
    </where>
  </delete>
</mapper>